*{
    margin: 0;
    padding:0;
}
.wrapper{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}
nav{
    line-height: 30px;
    width: 100px;
}
ul{
    padding-top: 20px;
    list-style: none;
    background-color: blueviolet;
    width: 100%
}
.content{
    padding-top: 20px;
}
.text{
    padding-top: 20px;
    background-color: darkgreen;
}
.photos{
    display: flex;
    padding-top: 20px;
    background-color: aquamarine;
}
.photos p{
    margin-right: 20px;
    background-color: brown;
    width: 200px;
    height: 100px;
}
