<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>kevin's voice annoys me</title>
    <link rel="stylesheet" href="style.css">

</head>
<body>
<main>
    <h1 class="title">Javascript Notes lesson 2</h1>
<section class="begin">
    <div class="wrap1">
    <h2>Loops and Conditionals</h2>
    <p></p>
</div>
    <!-- <div class="img">
    <img src="../../images/spongebob mocking.png" alt="spongebob mocking">
    <p class="text">PlEaSe plAcE YR JaVAscRipT aT the BoTToM oF YR BoDY </p>
    <p class="des">Example: &lt;script src="filename.js" &gt; </p>
    </div> -->
</section>

<section class="info">
    <div class="types">
    <h2 class="point"></h2>
    <p></p>
    <ul>
        <li> <span>-</span>  </li>
        <li><span></span> </li>
        <li><span></span></li>
    </ul>
    <h2 class="point"></h2>
    <p></p>
    <h4></h4>
    <ul>
        <li><span></span> </li>
            <li><span> </span> </li>
    </ul>
</div>
    <div class="console">
    <h2 class="point"></h2>
    <p>  </p>
    <ul>
    <li> <span> </span></li>
    </ul>
<h4></h4>
    <ul class="types">
    <li><span></span></li>
    <li><span>-</span></li>
    <li> <span></span></li>
    
    </ul>
    </div>
</section>

</main>
<script src="file.js"></script>
</body>
</html>